* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
}

#container-title, #container-buttons {
    min-height: 3rem;
    text-align: center;
}

#container-title {
    background-color: rgb(39, 16, 38);
}

#title {
    font-family: Impact, sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: orangered;
}

#author {
    position: absolute;
    top: 1.3rem;
    left: 51.5rem;
    color: azure;
    font-family: Garamond, serif;
    font-style: italic;
    text-decoration: underline;
}

.buttons {
    font-family: Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    background-color: azure;
    color: rgb(39, 16, 38);
}

.buttons:hover {
    background-color: purple;
    color: azure;
}

#container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    border: 3px solid orangered;
    justify-content: center;
    align-items: center;
}

.block {
    width: 32px;
    height: 32px;
}

.block, .block-new {
    background-color: purple;
}

.block:hover, .block-new:hover, .hover-color {
    background-color: azure;
}

