* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
}

#container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    border: 3px solid orangered;
    justify-content: center;
    align-items: center;
}

.block {
    width: 32px;
    height: 32px;
}

.block, .block-new {
    background-color: purple;
}

.block:hover, .block-new:hover, .hover-color {
    background-color: azure;
}

